// Base colors
$theme-colors: (
	primary: 			#1C154B,
	secondary: 	 		#07737C,
	success: 		 	#119822,
	info: 		 		#98C1D9,
	warning: 		 	#f6e84d,
	danger: 		 	#D33F49
);

$primary: 			#1C154B;
$secondary: 	 	#07737C;
$success: 		 	#119822;
$info: 		 		#98C1D9;
$warning: 		 	#f6e84d;
$danger: 		 	#D33F49;
$wrong:				#C8202B;

$secondary-light: 	#def6f8;

.bg-secondary {
    background: $secondary
}
.bg-secondary-light {
    background: $secondary-light
}
